.promo {
  padding: 70px 0 70px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 20px;

  &__card {
    height: 373px;
    background-color: chartreuse;
    position: relative;

    &--main {
      grid-column: span 2;
    }

    &--sub {
      background-color: crimson;
    }

    &__image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover &__content {
      opacity: 1;
    }

    &:hover &__content button {
      transform: none;
    }

    &:hover &__content h2 {
      transform: none;
    }

    &__content {
      position: absolute;
      transition: opacity 0.4s;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0000008a;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: self-start;

      h2 {
        color: #fff;
        width: 157px;
        font-size: 24px;
        margin-bottom: 30px;
        transition: transform 0.3s;

        transform: translateY(-10px);
      }

      button {
        // width: 168px;
        padding: 10px 20px;
        // height: 42px;
        border-radius: 5px;
        background: #fff;
        border: none;
        color: #181818;
        outline: none;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        font-family: inherit;
        transition: transform 0.3s ,background 0.4s;
        transform: translateY(-10px);
        &:hover{
          background: #a79e9e;
        }
      }
    }
  }
}

header .container {
  height: 100%;
}

.stepper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  .upper {
    width: 3px;
    height: 300px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.356);
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;

    .fill {
      height: calc(100% / 5);
      width: 100%;
      background: #fff;
      border-radius: 30px;
      transition: all 0.3s;
    }
  }
}
