* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 6111px;
  background-color: #f6f5f5;
}

ul {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
nav {
  height: 100px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.4s;
}
nav.sticky {
  background-color: rgba(255, 255, 255, 0.568627451);
  backdrop-filter: blur(8px);
}
nav.sticky ul li a {
  color: #000;
}
nav.sticky svg path {
  fill: #000;
}
nav.sticky .links li a {
  color: #000;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul.icons li a i {
  font-size: 20px;
}
nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
nav .links li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
}
.header .slider {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.header .slider .slider-container {
  height: 100%;
  width: 100%;
  flex: none;
  background-color: crimson;
  position: relative;
}
.header .slider .slider-container .image {
  height: 100%;
  width: 100%;
  position: relative;
}
.header .slider .slider-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header .slider .slider-container .image .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4392156863), rgba(0, 0, 0, 0.368627451));
}
.header .slider .slider-container .info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 100px;
}
.header .slider .slider-container .info .container {
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.header .slider .slider-container .info h1 {
  font-size: 60px;
  font-weight: bold;
  width: 364px;
  color: #fff;
  line-height: 1;
}
.header .slider .slider-container .info button {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
}
.header .slider .slider-container .info button:hover span::before {
  transform: rotate(90deg);
}
.header .slider .slider-container .info button span {
  height: 39px;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #123f45;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 20px;
}
.header .slider .slider-container .info button span::before {
  transition: all 0.3s;
}

.promo {
  padding: 70px 0 70px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.promo__card {
  height: 373px;
  background-color: chartreuse;
  position: relative;
}
.promo__card--main {
  grid-column: span 2;
}
.promo__card--sub {
  background-color: crimson;
}
.promo__card__image {
  width: 100%;
  height: 100%;
}
.promo__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__card:hover .promo__card__content {
  opacity: 1;
}
.promo__card:hover .promo__card__content button {
  transform: none;
}
.promo__card:hover .promo__card__content h2 {
  transform: none;
}
.promo__card__content {
  position: absolute;
  transition: opacity 0.4s;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5411764706);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
}
.promo__card__content h2 {
  color: #fff;
  width: 157px;
  font-size: 24px;
  margin-bottom: 30px;
  transition: transform 0.3s;
  transform: translateY(-10px);
}
.promo__card__content button {
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  color: #181818;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  transition: transform 0.3s, background 0.4s;
  transform: translateY(-10px);
}
.promo__card__content button:hover {
  background: #a79e9e;
}

header .container {
  height: 100%;
}

.stepper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.stepper .upper {
  width: 3px;
  height: 300px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.356);
}
.stepper__content {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}
.stepper__content .fill {
  height: 20%;
  width: 100%;
  background: #fff;
  border-radius: 30px;
  transition: all 0.3s;
}

.discover .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover .wrapper h2 {
  font-weight: 400;
}
.discover .wrapper a {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  line-height: 0;
  justify-content: center;
  gap: 2px;
}
.discover .wrapper a svg {
  transition: all 0.4s;
}
.discover .wrapper a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}
.discover .wrapper a:hover svg {
  transform: translateX(10px);
}
.discover__list {
  display: flex;
  gap: 10px;
}
.discover main .container {
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  gap: 20px;
}
.discover__product {
  width: 272px;
  overflow: hidden;
  flex: none;
  position: relative;
}
.discover__product:hover .discover__product__actions ul li {
  transform: translateX(0);
  opacity: 1;
}
.discover__product:hover .discover__product__actions {
  right: 10px;
}
.discover__product:hover img {
  transform: scale(1.3);
}
.discover__product__label {
  z-index: 1;
  position: absolute;
  padding: 4px 10px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  top: 10px;
  border-radius: 40px;
  left: 20px;
  font-weight: bold;
}
.discover__product__actions {
  position: absolute;
  right: -100px;
  top: 10px;
  z-index: 2;
}
.discover__product__actions ul {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.discover__product__actions ul li {
  height: 40px;
  width: 40px;
  transform: translateX(10px);
  opacity: 0;
  transition: all 0.4s;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.discover__product__actions ul li i {
  color: #fff;
  font-size: 20px;
}
.discover__product__actions ul li:hover {
  background-color: #65cfd7;
}
.discover__product__actions ul li:nth-child(2) {
  transition-delay: 0.09s;
}
.discover__product__actions ul li:nth-child(3) {
  transition-delay: 0.12s;
}
.discover__product__image {
  height: 385px;
  overflow: hidden;
}
.discover__product__image img {
  transition: transform 1s;
  width: 100%;
  height: 100%;
}
.discover__product__description {
  padding: 5px 0;
}
.discover__product__description__title {
  font-size: 18px;
  font-weight: 500;
  color: #181717;
  margin-bottom: 5px;
}
.discover__product__description__price {
  display: flex;
  justify-content: space-between;
}
.discover__product__description__price__real {
  font-size: 16px;
  font-weight: 500;
  color: #525252;
}
.discover__product__description__price__old {
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  color: rgba(96, 91, 91, 0.58);
}

.why-us {
  padding-block: 80px;
}
.why-us__heading {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}
.why-us__features {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.why-us__features__card {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  padding-inline: 20px;
  padding-block: 30px;
}
.why-us__features__card:hover {
  background: #fff;
  border-radius: 5px;
}
.why-us__features__card:hover i {
  color: #3523d8;
}
.why-us__features__card:hover .why-us__features__card__icon {
  background: #E1ECFF;
}
.why-us__features__card__icon {
  height: 60px;
  width: 60px;
  background: #F6F6F6;
  border-radius: 5px;
  display: grid;
  place-content: center;
  margin-bottom: 20px;
  transition: background 0.4s;
}
.why-us__features__card__icon i {
  font-size: 40px;
  transition: color 0.4s;
}
.why-us__features__card__label {
  font-size: 18px;
  font-weight: 600;
}
.why-us__features__card__description {
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.5;
  color: #262525;
}

.tody__shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tody__shop a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.tody__shop a svg {
  transition: transform 0.4s;
}
.tody__shop a:hover {
  text-decoration: underline;
}
.tody__shop a:hover svg {
  transform: translateX(8px);
}

.page {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.page.loaded {
  opacity: 1;
  transform: translateY(0);
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 32px;
  height: 90px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 50% 50% 0 0;
  border-bottom: 10px solid #FF3D00;
  background-color: #FFF;
  background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
  background-size: 28px 28px;
  background-position: center 20px, center 2px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloaderBack 1s linear infinite alternate;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 15px #FF3D00 inset;
  top: 67px;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 34px;
  height: 34px;
  top: 112%;
  background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50% 50% 0;
  background-repeat: no-repeat;
  background-position: -44px -44px;
  background-size: 100px 100px;
  box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
  0%, 30%, 70% {
    transform: translateY(0px);
  }
  20%, 40%, 100% {
    transform: translateY(-5px);
  }
}
@keyframes animloader {
  0% {
    box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
    width: 34px;
    height: 34px;
    background-position: -44px -44px;
    background-size: 100px 100px;
  }
  100% {
    box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
    width: 30px;
    height: 28px;
    background-position: -36px -36px;
    background-size: 80px 80px;
  }
}

/*# sourceMappingURL=main.css.map */
